.timeline {
  padding:0 40px;
  
  .timeline-ticks {
    position:relative;
    padding:34px 0;
    width:100%;
    height:100%;

    .timeline-tick-wrapper {
      position:absolute;
      top:0;
      height:100%;
      display:flex;
      align-items:center;
      cursor:pointer;
      z-index:0;
      transform:translateX(-4px); // Account for tick width

      .timeline-tick {
        width:8px;
        height:8px;
        border-radius:100%;
        background-color:rgb(100, 100, 100);
      }

    }

    .timeline-tick-wrapper:hover {
      z-index:1;
      
      .timeline-tick {
        width:18px;
        height:18px;
        background-color:rgb(52, 106, 255);
      }
    }

  }

}